<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <div class="text-h5">System</div>
      </v-col>
      <v-col cols="12">
        <v-card elevation="4">
          <v-card-title>
            <v-icon class="pr-2">mdi-alert-circle</v-icon>
            Errors
          </v-card-title>
          <v-card-subtitle>
            Received {{ errorInfo.count }} errors
          </v-card-subtitle>
          <v-card-text>Last error: "{{ errorInfo.last }}"</v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <div class="text-h5">Workers</div>
      </v-col>
      <v-col v-for="worker in workers" :key="worker.id" cols="4">
        <v-skeleton-loader
          v-if="loading"
          class="mx-auto"
          type="card"
          elevation="4"
        ></v-skeleton-loader>
        <v-card v-else elevation="4">
          <v-card-title>
            <v-icon class="pr-2">mdi-raspberry-pi</v-icon>
            {{ worker.name }}
          </v-card-title>
          <v-card-subtitle>{{ worker.service }}</v-card-subtitle>
          <v-sparkline
            :value="value"
            :gradient="['#f72047', '#ffd200', '#1feaea']"
            smooth="10"
            padding="8"
            line-width="2"
            stroke-linecap="round"
            gradient-direction="top"
            type="trend"
            height="36"
            auto-draw
          ></v-sparkline>
          <v-card-text>{{ worker.description }}</v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "Home",

  data: () => ({
    workers: [],
    value: [0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0],
    loading: true,
    errored: false,
    errorInfo: {
      count: 0,
      last: null,
    },
  }),

  created: function () {
    axios
      .get("/api/v1/workers")
      .then((response) => {
        this.workers = response.data;
      })
      .catch((error) => {
        this.errored = true;
      })
      .finally(() => (this.loading = false));

    axios.get("/api/v1/errors").then((response) => {
      this.errorInfo = response.data;
    });
  },
};
</script>
