<template>
  <v-app>
    <v-system-bar color="blue-grey darken-3">
      <!-- notifications -->
    </v-system-bar>

    <v-app-bar color="primary" app>
      <div class="d-flex align-center">
        <v-img
          alt="Logo"
          class="shrink mr-2 shadow"
          contain
          :src="require('@/assets/logo.svg')"
          transition="scale-transition"
          width="40"
          @click.stop="drawer = !drawer"
        />
      </div>
      <v-toolbar-title>Broker</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn href="https://gitlab.com/plantd/broker" target="_blank" icon>
        <v-icon>mdi-github</v-icon>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" absolute bottom temporary>
      <v-list nav dense>
        <v-list-item-group
          v-model="group"
          active-class="blue-grey--text text--accent-4"
        >
          <v-list-item to="/">
            <v-list-item-icon>
              <v-icon>mdi-home</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Home</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item to="/settings">
            <v-list-item-icon>
              <v-icon>mdi-cog</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Settings</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>

    <v-footer app>
      <v-row>
        <v-col cols="12">
          <span class="mr-2">Status {{ status }}</span>
        </v-col>
      </v-row>
    </v-footer>
  </v-app>
</template>

<script>
import axios from "axios";

import Home from "@/components/Home.vue";

export default {
  name: "App",

  components: {
    Home,
  },

  data: () => {
    return {
      drawer: false,
      group: null,
      status: "",
    };
  },

  watch: {
    group() {
      this.drawer = false;
    },
  },

  created: function () {
    axios.get("/api/v1/status").then((response) => {
      this.status = response.data.status;
    });
  },
};
</script>

<style lang="scss" scoped>
.shadow {
  -webkit-filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.4));
}
</style>
